<!doctype html>
<html>
    <head>
        <title>MessageBird Verify + tru.ID</title>
    </head>
    <body>
        <h1>MessageBird Verify + tru.ID</h1>
        
        {{{body}}}
    </body>
</html>